.selected:hover {
    -fx-background-color: #8800d4;
}
.button {
    -fx-background-color: #242551;
    -fx-background-radius: 30;
}
.button:hover {
    -fx-background-color: #500274;
}

#profileSetting {
    -fx-background-image: url(../images/Yu-Gi-Oh-DarkMagician-ProfileSettingBackground.png);
    -fx-background-size: cover;
}

.text-input {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #242551;
    -fx-text-inner-color: #fff;
}

GridPane {
    -fx-background-color: black;
    -fx-background-radius: 5;
    -fx-border-width: 5;
    -fx-border-color: #500274;
    -fx-border-radius: 5;
}

#avatarPane {
    -fx-background-color: black;
    -fx-background-radius: 9999;
    -fx-background-size: cover;
    /**/
    /*-fx-background-image: url(../images/Magic-Circle.png);*/
    -fx-border-radius: 9999;
    -fx-border-width: 5;
    -fx-border-color: #d79a25;
}